body {
  margin-top: 100px;
  background-color: beige;
}

.page {
  max-width: 960px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.calculatorContainer {
  background-color: #fcd5ca;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: black;
  /* box-shadow: black 0px 22px 70px 4px; */
  box-shadow: 1px 0px 400px 82px lightsalmon;
  -webkit-box-shadow: 1px 0px 400px 82px lightsalmon;
  -moz-box-shadow: 1px 0px 400px 82px lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  overflow: hidden;
}

.clearRow {
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: flex-end;
}

.clearButton {
  width: 46%;
  height: 100px;
  margin-right: 8px;
}

.row {
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: space-around;
}
button {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  color: black;
  box-shadow: 0.5px 0.5px;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  transition: 0.25s;
}

.operatorButton {
  background-color: coral;
}

button:hover {
  cursor: pointer;
  background-color: coral;
  color: black;
  box-shadow: 0px 0px;
}

.displayContainer {
  width: 100%;
  padding: 20px;
}
#display {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  color: black;
  /* border-style: solid;
  border-color: white; */
  height: 100px;
  font-size: 40px;
  white-space: initial;
}
#resultDisplay {
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
}

#previousNumberDisplay {
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
}

@media only screen and (max-width: 850px) {
  .display {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 660px) {
  button {
    font-size: 20px;
  }

  .display {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  button {
    border-radius: 0;
  }
  .calculatorContainer {
    margin-left: 0%;
    margin-right: 0%;
  }
}
